body{
    height: 90vh;
}

.icon-left{
position: absolute;
top: 0px;
left: 0px;
}

.icon-right{
position: absolute;
bottom: 0px;
right: 0px;
}
.main-text{
    font-size: 2.6rem;
}
.season-display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.season-display.winter i{
    color: blue;
}
.season-display.summer i{
    color: red;
}
.summer{
    background-color: rgba(255 , 165 , 0 , 0.4)
}

.winter{
    background-color: aliceblue;
}